/* @import "tailwindcss"; */

.logo {
    width: 180px;
}

.accordian {
    width: 50%;
    margin: auto;
    height: auto;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px #888888;

}

.update-context {
    padding: 2px;
    margin-left: 20px;
}

.itemList {
    margin-top: 20px;
}

.item-menu {
    border-bottom: 2px solid #cfcfcf;
    margin-bottom: 20px;
}

.food-image {
    min-width: 200px;
    height: 150px;
    margin-top: -26px;
    margin-bottom: 20px;
}

.itemDesc {
    display: flex;
    color: #9f9c9c;
    font-size: 14px;
    justify-content: space-between;
}

.resItems {
    display: flex;
    font-size: 24px;
}

.accordian-header {
    justify-content: space-between;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.withLabel {
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin: -2px;
    padding: 6px;
    position: absolute;
    margin-left: 8px;
}

.top-rated {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.search-box {
    margin-left: 30px;
    margin-top: 20px;
}

.search-btn {
    height: 50px;
    margin-left: 20px;
}

.search {
    height: 50px;
}

.login {
    height: 50px;
    margin-right: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    border: 1px solid black;
    padding: 0px 10px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-items>li {
    margin: 10px;
    font-size: 30px;
    list-style: none;
    cursor: pointer;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 46px
}

.res-image {
    width: 200px;
    height: 200px;
}

.add-button {
    height: 30px;
    position: absolute;
    margin-left: 42.5%;
    margin-top: 94px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.res-card {
    background-color: #F0F0F0;
    width: 200px;
    padding: 5px;
    margin: 10px;
    color: black;
    text-decoration: underline;
}

.res-card:hover {
    outline: 2px solid black;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 400px;
    width: 200px;
    background-color: #F0F0F0;
    margin: 30px;
}

.cart-items {
    align-items: center;
    text-align: center;
    width: 60%;
    margin: auto;
    justify-content: center;
}

.contactUsFields {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.clear-cart {
    padding: 10px;
    margin-bottom: 26px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}